/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */

/*wrap*/
$inner-wrap-l : 1200px;
$inner-wrap-m : 1140px;

/*nav*/
$nav-l-height: 60px;
$nav-m-height: 50px;
$nav-s-height: 40px;


/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white-light: #f2f2f2;
$white: #ffffff;

$green: #2b7e3e;

$gray: #ABABAB;
$gray-light: #e8e8e8;
$gray-dark: #666;

$black: #3A3A3A;
$black-light: #828282;
$black-dark: #202020;

$orange: #FF9900;
$orange-light: #FFCC00;
$brown: #C53421;

$yellow: #F8E71C;
$red: #D20D0D;
$blue: #1677CB;
$blue-sky: #24A3CA;

$pink: #e21d43;

$gray: #4a4a4a;

$border-gray-color: #ccc;

/* ------------------------------------
 *  Font
 * ------------------------------------ */
$base-font: Helvetica, Arial, "PingFang TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$chinese-font: "微軟正黑體", "Microsoft JhengHei", sans-serif;

$weight-l: 300;
$weight-b: 600;
