<footer id="footer">
	<div class="container">
		<div class="footer-block">
			<div class="footer-col">
				<span class="footer-title">聯絡我們</span>
				<ul class="address">
					<li>
						<span class="icon-location"></span>
						新北市板橋區莊敬路 <br> 220巷26號
					</li>
					<li>
						<span class="icon-time"></span>
						<span class="time"><strong>週一至週五</strong> 早上7:00 - 下午7:00 </span>
						<span class="time"><strong>週六</strong>  早上10:00 - 下午6:00</span>
					</li>
				</ul>
			</div>
			<div class="footer-col">
				<span class="footer-title">社群媒體</span>
				<ul class="social-networks">
					<li><a href="#"><span class="icon-facebook"></span></a></li>
					<li><a href="#"><span class="icon-line"></span></a></li>
					<li><a href="#"><span class="icon-messager"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="footer-area">
			<span class="copyright">&copy;2017 田田蔬果 部落格  版權所有</span>
			<div class="plugin">
				<img src="images/facebook-plugin.png" alt="image description">
			</div>
		</div>
	</div>
</footer>