<header id="header">
	<div class="logo">
		<a href="#"><img src="images/logo.png" alt="Tientien Blog"></a>
	</div>
	<nav id="nav">
		<a href="#" class="nav-opener"><span></span></a>
		<div class="nav-drop">
			<div class="nav-wrap">
				<ul>
					<li>
						<a href="#">系列專題</a>
						<ul>
							<li><a href="#">食安議題</a></li>
							<li><a href="#">小農專欄</a></li>
							<li><a href="#">綠色飲食</a></li>
						</ul>
					</li>
					<li>
						<a href="#">田田食譜</a>
						<ul>
							<li><a href="#">食安議題</a></li>
							<li><a href="#">小農專欄</a></li>
							<li><a href="#">綠色飲食</a></li>
						</ul>
					</li>
					<li>
						<a href="#">田田飲食誌</a>
						<ul>
							<li><a href="#">食安議題</a></li>
							<li><a href="#">小農專欄</a></li>
							<li><a href="#">綠色飲食</a></li>
						</ul>
					</li>
					<li>
						<a href="#">有機教育</a>
						<ul>
							<li><a href="#">食安議題</a></li>
							<li><a href="#">小農專欄</a></li>
							<li><a href="#">綠色飲食</a></li>
						</ul>
					</li>
					<li>
						<a href="#">夥伴日誌</a>
						<ul>
							<li><a href="#">食安議題</a></li>
							<li><a href="#">小農專欄</a></li>
							<li><a href="#">綠色飲食</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<form class="search-form" action="#">
			<div class="form-group">
				<input type="search" placeholder="Search">
				<button type="submit"><span class="icon-search"></span></button>
			</div>
		</form>
	</nav>
	<ul class="icon-list">
		<li><a href="#" class="search-opener"><span class="icon-search"></span></a></li>
		<li><a href="#"><span class="icon-home"></span> <span class="text">田田官網</span></a></li>
	</ul>
</header>